<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Welcome</title>
</head>
<body>
<P>Congratulations on creating a new account,${member.email}.</P>
<P>Please keep this email for your records, as it contains an important verification code that you may need should you ever
    encounter problems with membership.
</P>
<P>You can see the event details at <<your links>></P>

Enjoy! </br>

The Team

Verification code: ${verificationCode}


</body>
</html>