#{extends 'main.html' /}
#{set title:'Forgot Password' /}
<legend>Recover Starpath Password</legend>

<div class="container">
    #{form @sendForgotPasswordEmail(), id:'forgotPassword'}
    <div class="control-group">
        <label class="control-label">Email</label>

        <div class="controls">
            <input type="text" class="input-xlarge" name="email" value="">
            <span class="error">${errors.forKey('contact.email')}</span>

        </div>
    </div>
    <div class="form-actions">
        <button type="submit"  class="btn btn-primary" id="forgot">Send me instructions</button>
        <a href="@{Application.index()}" class="btn">Cancel</a>
    </div>
    #{/form}
</div>
