#{extends 'main.html' /}
#{set title:'Home' /}

<div class="container">
    <div class="row">
        <p><h1>Case Agents</h1></p>
        <p><div class="alert alert-info">Easily create new case agents that keep track of children</div></p>


    </div>
    <div class="row">
        <p><h1>Child</h1></p>

        <p><div class="alert alert-success">You can now add children that really need loving support from generous parents</div></p>

    </div>

    <div class="row">
        <p><h1>Foster Home</h1></p>
        <p><div class="alert alert-info">Add children to foster homes that have undergone full background checks </div></p>


    </div>
    <div class="row">
        <p><h1>More Services</h1></p>

        <p><div class="alert alert-primary">We are creating a SaaS product that helps the case workers, parents, and the CHILD <br>
        </div></p>
    </div>
</div>

