#{extends 'main.html' /}
#{set title:'Foster Home' /}

<div class="container">
    <p>
        <a href="@{Application.addFosterHome()}" title="Add A Foster Home"
           class="btn btn-primary btn-large"
                >Add A Foster Home</a>
    </p>
</div>
#{if paginator !=null && paginator.size()  > 0}
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th class="name">Name</th>
        <th class="phone">County</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    #{paginate.list items:paginator, as:'home'}
    <tr class="parent" draggable="true">
        <td id="name">${home.name}</td>
        <td id="email">${home.county}</td>
        <td class="table_column_actions">
            <a href="@{Application.searchParents(home.id)}" class="btn btn-danger btn-large">Parent Details</a>
            <a href="@{Application.addFosterHome(home.id)}" class="btn btn-info btn-large">Edit Foster Home Information</a>

        </td>
    </tr>
    #{/paginate.list}
    #{paginate.controls items:paginator /}
    #{paginate.summary items:paginator /}
    </tbody>
</table>
#{/if}

